@import url(style.css);

*{
    box-sizing: border-box;
}


body{
    background-image: linear-gradient(rgba(255, 141, 40, 20%), rgb(0, 75, 141, 20%) );
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 1142px;
    height: 661px;
    display: flex;
    box-shadow: 0 0 25px #023e65;
    border-radius: 10px;
}

.sessao-imagem{
    width: 510px;
    height: 661px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessao-imagem img{
    border-radius: 10px 0 0 10px;
}

.sessao-login{
    height: 661px;
    width: 632px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area-titulo{
    text-align: center;
}

.area-titulo h1, span{
    font-size: 36px;
    padding-bottom: 5px;
}
.area-titulo h1{
    color: var(--azul-principal);
    font-weight: 600;
}

.area-titulo h2{
    font-size: 24px;
    color: var(--azul-principal);
    font-weight: 400;
}

form{
    display: flex;
    flex-direction: column;
    width: 434px;
    gap: 3px;
}

form input{
    height: 50px;
    padding: 5px 10px;
    font-size: 18px;
}

#email{
    margin-bottom: 15px;
}

button{ 
    margin-top: 15px;
    padding: 12px;
    font-size: 18px;
    background-image: linear-gradient( to right, rgba(0, 75, 141, 80%), rgba(255, 141, 40, 60%) );
    border: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

form label{
    color: var(--azul-principal);
    font-size: 18px;
    font-weight: 500;
}

.links-senha{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links-senha label {
    position: relative;
    right: 75px;
}

.links-senha label, input, a{
    color: #2376ad;
    font-weight: 400;
}

section a:hover{
    color: #2376ad;
    font-weight: 600;
}


#link-nao-conta{
    text-align: center;
}