*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    width: 100vw;
    height: 100vh; 
}

main{
    margin: 20px auto;
    width: 75vw;
    text-align: center;
}

h2{
    background-color: rgb(13, 162, 248);
    border-radius: 10px;
    font-size: 30px;
    font-weight: 400;
    padding: 12px;
    margin: 20px;
}

#caixa{
    width: 300px;
    height: 100px;
    background-color: rgb(17, 0, 255);
    margin: 0 auto;
    margin: 20px auto;
}

.btn{
    padding: 10px 20px;
    margin-right: 10px;
}

.area_add_sub {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.area_add_sub button{
    padding: 5px;
    background-color: rgb(137, 38, 218);
    border: 10px solid rgb(240, 114, 245) ;
    color: rgb(209, 104, 104);
    border-radius: 20px;
}

.area_add_sub button:hover{
    background-color: blue;
}

#listaLivro{
    padding: 10px;
    gap: 10px;
    background-color: #BA59DC;
    color: ghostwhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

#remover_livro{
    background-color: rgb(13, 162, 248);
    border-radius: 8px;
    font-size: 20px;
    font-weight: 100;
    padding: 8px;
    margin: 10px;
}

#adiciona_livro{
    background-color: rgb(13, 162, 248);
    border-radius: 8px;
    font-size: 20px;
    font-weight: 30;
    padding: 8px;
    margin: 10px;
}